numpy>=1.15.1
tensorflow>=1.14
keras>=2.0.1
sklearn
pandas
matplotlib
pyecharts 
attention机制是模仿人类注意力而提出的一种解决问题的办法，简单地说就是从大量信息中快速筛选出高价值信息。主要用于解决LSTM/RNN模型输入序列较长的时候很难获得最终合理的向量表示问题，做法是保留LSTM的中间结果，用新的模型对其进行学习，并将其与输出进行关联，从而达到信息筛选的目的。

作者：不分享的知识毫无意义
链接：https://www.jianshu.com/p/1d67638139da
来源：简书
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。